@import "../../node_modules/tom-select/dist/css/tom-select.bootstrap5.min.css";
@import "../../node_modules/flatpickr/dist/flatpickr.min.css";

.table-responsive .form-check {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.table-responsive .form-check-input {
    position: static !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.table-li-item {
    flex: 0 0 32%;
}

@media (max-width: 992px) {
    .table-li-item {
        flex: 0 0 100%;
    }
}

/* between 995px and 1200px */
@media (min-width: 992px) and (max-width: 1200px) {
    .table-li-item {
        flex: 0 0 48%;
    }
}

.category-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.category-card {
    border: 1px solid #e9ecef;
    border-radius: 0.375rem;
    padding: 4px 0.5rem;
    text-align: center;
    transition: all 0.3s ease;
}

.category-card p {
    margin: 0;
}

.category-card:hover {
    border-color: #007bff;
    background-color: #f8f9fa;
    color: #007bff;
    cursor: pointer;
}

.category-card.active {
    border-color: #007bff86;
    background-color: #007bff6b;
    color: black;
}


.form-check-input:checked {
    background-color: #28a745;
    border-color: #28a745;
}

/* .image-preview-container {
    display: grid;
    grid-template-columns: 200px auto;
    gap: 5px;
    align-items: start;
} */

/* .main-image-card {
    position: relative;
    border: 2px solid #007bff;
    border-radius: 5px;
    overflow: hidden;
    width: 200px !important;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
} */



.images-container {
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 5px;
    max-height: 220px;
    overflow: auto;
}

.single-file-card {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

/* add active style for the first element with class single-file-card */

.single-file-card.active {
    background: rgba(98, 149, 197, 0.616);
    border-radius: 5px;
    cursor: pointer;
}

.single-file-card:hover {
    background: rgba(146, 146, 146, 0.616);
    border-radius: 5px;
    cursor: pointer;
}

.other-images-container>div {
    background: rgba(208, 208, 208, 0.466);
    border-radius: 5px;
    overflow: hidden;
}