@import "../../node_modules/tom-select/dist/css/tom-select.bootstrap5.min.css";
@import "../../node_modules/flatpickr/dist/flatpickr.min.css";

.table-responsive .form-check {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.table-responsive .form-check-input {
    position: static !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.form-check .form-check-input[type="checkbox"] {
    width: 1.3em !important;
    height: 1.3em !important;
}
.form-check.form-switch .form-check-input[type="checkbox"] {
    width: 2em !important;
    height: 1em !important;
}

.table-li-item {
    flex: 0 0 32%;
}

@media (max-width: 992px) {
    .table-li-item {
        flex: 0 0 100%;
    }
}

/* between 995px and 1200px */
@media (min-width: 992px) and (max-width: 1200px) {
    .table-li-item {
        flex: 0 0 48%;
    }
}

.category-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.category-card {
    border: 1px solid #e9ecef;
    border-radius: 0.375rem;
    padding: 4px 0.5rem;
    text-align: center;
    transition: all 0.3s ease;
}

.category-card p {
    margin: 0;
}

.category-card:hover {
    border-color: #007bff;
    background-color: #f8f9fa;
    color: #007bff;
    cursor: pointer;
}

.category-card.active {
    border-color: #007bff86;
    background-color: #007bff6b;
    color: black;
}


.form-check-input:checked {
    background-color: #28a745;
    border-color: #28a745;
}

/* .image-preview-container {
    display: grid;
    grid-template-columns: 200px auto;
    gap: 5px;
    align-items: start;
} */

/* .main-image-card {
    position: relative;
    border: 2px solid #007bff;
    border-radius: 5px;
    overflow: hidden;
    width: 200px !important;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
} */



.images-container {
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    gap: 5px;
    margin: 20px auto;
    border: 1px dashed black;
    padding: 1.5em !important;
    border-radius: 5px;
    background-color: #fff !important;
}

.images-container.variant {
    max-height: 250px !important;
    overflow-y: auto !important;
}

.images-container .single-file-card {
    background: rgba(208, 208, 208, 0.466);
    height: 130px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
}

.single-file-card .checked-icon {
    position: absolute;
    top: 7px;
    left: 7px;
    width: 23px;
    height: 23px;
    background-size: contain;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* add active style for the first element with class single-file-card */

.single-file-card.active {
    background: rgba(98, 149, 197, 0.616);
    border-radius: 5px;
    cursor: pointer;
}

.single-file-card:hover {
    background: rgba(146, 146, 146, 0.616);
    border-radius: 5px;
    cursor: pointer;
}

.other-images-container>div {
    background: rgba(208, 208, 208, 0.466);
    border-radius: 5px;
    overflow: hidden;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    /* Firefox */
}


input[type="file"].customized {
    margin: auto !important;
    padding: 1.5em !important;
    border: 2px dashed #bbb !important;
    background-color: #fff !important;
    transition: border-color .25s ease-in-out !important;
    height: 4.5em !important;

    &::file-selector-button {
        border-width: 0 !important;
        border-radius: 2em !important;
        background-color: hsl(210 70% 30%) !important;
        color: white !important;
        transition: all .25s ease-in-out !important;
        cursor: pointer !important;
        margin-right: 1em !important;
    }

    &:hover {
        border-color: #888 !important;

        &::file-selector-button {
            background-color: hsl(210 70% 40%) !important;
        }
    }
}

