@import "../../../node_modules/@splidejs/splide/dist/css/splide.min.css";

#main-carousel .splide__slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-carousel .splide__slide img {
    height: 100%;
    object-fit: cover !important;
}

#main-carousel .splide__track {
    border: 1px solid #eeeeee;
    height: 550px;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    #main-carousel .splide__track {
        height: 300px;
    }

    #main-carousel .splide__slide img {
        width: 100%;
        object-fit: contain !important;
    }

}




.thumbnails {
    display: flex;
    margin: 1rem auto 0;
    padding: 0;
    justify-content: center;
}

.thumbnail {
    width: 70px;
    height: 70px;
    overflow: hidden;
    list-style: none;
    margin: 0 0.2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.thumbnail img {
    object-fit: contain;
}

.thumbnail {
    opacity: 0.3;
}

.thumbnail.is-active {
    opacity: 1;
    border: 2px solid #eeeeee;
    border-radius: 5px;

}

.nice-select {
    height: 38px !important;
}


.pagination-area .pagination-button li:hover {
    color: #000;
    cursor: pointer;
}

.filter-container-label {
    padding: 3px 8px;
    margin-bottom: 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.filter-container-label:hover {
    cursor: pointer;
}

.filter-container-label span.check-icon {

    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-container-label span.check-icon .filter-container-label:hover {
    background: #f5f5f5;
    border: 1px solid #000;
    cursor: pointer;
}

/* .filter-container-label.active {
    background: #000;
    color: #fff;
    border: 1px solid #000;
} */

.sidebar-area .single-widgets .checkbox-container ul li {
    margin-bottom: 5px;
}


/* width */
::-webkit-scrollbar {
    width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(161, 142, 142);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(77, 76, 76);
    border-radius: 10px;
}



.auction-card .auction-card-img-wrap .card-img {
    position: relative;
    overflow: hidden;
    display: block;
    height: 100% !important;
    border-radius: 5px;
    background: #f5f5f5;
}

.thumbnail {
    width: 80px;
    height: 80px;
    overflow: hidden;
    list-style: none;
    margin: 0.2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumbnails {
    display: flex;
    margin: 1rem auto 0;
    padding: 0;
    justify-content: center;
    flex-wrap: wrap;
}



/* CSS */
.custom-black-btn {
    align-items: center;
    background-image: linear-gradient(#464d55, #25292e);
    border-radius: 8px;
    border-width: 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1), 0 3px 6px rgba(0, 0, 0, .05);
    color: #fff;
    display: inline-flex;
    flex-direction: column;
    font-size: 18px;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    transition: all 150ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    height: 30px;
    font-size: 14px;
    font-weight: 400;
}

.custom-black-btn:hover {
    box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
    opacity: .85;
}

.custom-black-btn:active {
    outline: 0;
}

/* disabled */
.custom-black-btn:disabled {
    background-color: #f5f5f5;
    box-shadow: none;
    color: #000;
    cursor: not-allowed;
    opacity: .5;
}

@media (max-width: 420px) {
    .custom-black-btn {
        height: 48px;
    }
}

.custom-white-btn {
    align-items: center;
    background-image: linear-gradient(#fff, #fff);
    border-radius: 8px;
    border-width: 0;
    color: #000;
    display: inline-flex;
    flex-direction: column;
    font-size: 18px;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    transition: all 150ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    height: 30px;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #000;
}

.custom-white-btn:hover {
    box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
    opacity: .85;
}

.custom-white-btn:active {
    outline: 0;
}

/* disabled */
.custom-white-btn:disabled {
    background-color: #f5f5f5;
    box-shadow: none;
    color: #000;
    cursor: not-allowed;
    opacity: .5;
}

@media (max-width: 420px) {
    .custom-white-btn {
        height: 48px;
    }
}

.values-container {
    display: flex !important;
    flex-wrap: wrap !important;
    gap: 10px !important;
    margin-top: 10px !important;
}

.values-container span {
    padding: 5px 10px !important;
    background-color: #f5f5f5 !important;
    border-radius: 5px !important;
    cursor: pointer !important;
}

.values-container span:hover {
    background-color: #e0e0e0 !important;
}

.values-container span.active {
    border: 1px solid #000 !important;
}


.loading-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filteration-container {
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
}

@media (max-width: 768px) {
    .filteration-container {
        max-height: 40vh;
    }
}

.btn-large-view {
    background-color: rgba(255, 255, 255, 0.9);
    bottom: 20px;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
    color: #1b1b1c;
    display: block;
    font-weight: 700;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    line-height: 22px;
    padding: 10px 0;
    position: absolute;
    text-align: center;
    width: 136px;
}
.imgs-thumbnail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    overflow-x: auto;
}

.imgs-thumbnail-container .img-thumbnail {
    width: 65px;
    height: 65px;
    overflow: hidden;
    list-style: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}

.imgs-thumbnail-container .img-thumbnail img {
    object-fit: contain;
}